body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111; /* Match the container background */
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  color: white;
}
.admin-home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #111;
  color: white;
  margin: auto;
}

.admin-home-top-bar {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #1b1212;
  border-bottom: 2px solid #FF8303;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
}

.admin-home-menu-icon {
  cursor: pointer;
  margin-right: 20px;
}

.admin-home-logo-container {
  display: flex;
  align-items: center;
}

.admin-home-logo-img {
  width: 40px;
  margin-right: 10px;
}

.admin-home-logo-text {
  font-size: 24px;
  color: #FF8303;
}

.admin-home-page-title {
  margin-left: auto;
  font-size: 24px;
  color: #FF8303;
}

.admin-home-main-content {
  flex: 1;
  padding: 40px;
  background-color: #1c1c1c;
  margin-top: 470px;
  margin-bottom: 200px;
  overflow-y: auto;
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
}

.admin-home-main-content.sidebar-open {
  margin-left: 250px;
  margin-top: 250px;
}

.admin-home-content-section {
  background: #1b1212;
  padding: 50px 240px;
  width: 100%;
  border-radius: 8px;
  border: 2px solid #FF8303;
}

.admin-home-features-section {
  text-align: center;
  width: 100%;
}

.admin-home-features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}

.admin-home-feature-card {
  background-color: #1B1212;
  border: 2px solid #FF8303;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin-home-feature-card:hover {
  background-color: #FF8303;
  color: #121212;
  transform: scale(1.05);
}

.admin-home-feature-card img {
  width: 95%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.admin-home-feature-card h3 {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

.admin-home-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1B1212;
  border-top: 2px solid #FF8303;
  z-index: 1000;
}

@media (max-width: 768px) {
  .admin-home-main-content {
    padding: 20px;
  }

  .admin-home-main-content.sidebar-open,
  .admin-home-main-content {
    margin-left: 0;
  }

  .admin-home-features-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .admin-home-feature-card {
    height: 300px;
  }

  .admin-home-feature-card h3 {
    font-size: 18px;
  }
}