.admin-footer {
    background-color: #1B1212;
    padding: 20px 0;
    color: white;
    text-align: center;
    border-top: 2px solid #FF8303;
    position: relative;
    bottom: 0px;
    /*top: 100px;*/
    width: 100%;
    margin-top: auto;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
  }
  
  .footer-column {
    display: flex;
    flex-direction: column;
  }
  
  .footer-column h3 {
    color: #FF8303;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-column a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin: 5px 0;
    transition: color 0.3s ease;
  }
  
  .footer-column a:hover {
    color: #FF8303;
  }
  
  /* Responsive Footer */
  @media (max-width: 900px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
      gap: 20px;
    }
  }
  