/* Statistics Page Layout */
.admin-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.main-content {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px; 
  padding-bottom: 20px; 
}

.stats-overview {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .stats-card {
    background-color: #1B1212;
    border: 2px solid #FF8303;
    padding: 15px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
  }
  
  .stats-card:hover {
    transform: scale(1.05);
    transform: translateY(-5px);

  }

  .stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .stat-value {
    font-size: 2em;
    color: #FF8303;
    margin: 10px 0;
  }
  
  .stat-label {
    color: #ccc;
    font-size: 0.9em;
  }
  
  .report-btn-container {
    margin: 20px;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  
  /* Responsive */
  @media (max-width: 900px) {
    .stats-overview {
      flex-direction: column;
      align-items: center;
    }
  }
  